@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?agl44');
  src:  url('fonts/icomoon.eot?agl44#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?agl44') format('truetype'),
    url('fonts/icomoon.woff?agl44') format('woff'),
    url('fonts/icomoon.svg?agl44#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mongodb-icon .path1:before {
  content: "\e93c";
  color: rgb(96, 96, 96);
}
.icon-mongodb-icon .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(138, 138, 138);
}
.icon-mongodb-icon .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-feather .path1:before {
  content: "\e924";
  color: rgb(96, 96, 96);
}
.icon-feather .path2:before {
  content: "\e925";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
}
.icon-feather .path3:before {
  content: "\e926";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
  opacity: 0.35;
}
.icon-feather .path4:before {
  content: "\e927";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
}
.icon-feather .path5:before {
  content: "\e928";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
  opacity: 0.35;
}
.icon-feather .path6:before {
  content: "\e929";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path7:before {
  content: "\e92a";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path8:before {
  content: "\e92b";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path9:before {
  content: "\e92c";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path10:before {
  content: "\e92d";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path11:before {
  content: "\e92e";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path12:before {
  content: "\e92f";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
}
.icon-feather .path13:before {
  content: "\e930";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
  opacity: 0.35;
}
.icon-feather .path14:before {
  content: "\e931";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path15:before {
  content: "\e932";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
}
.icon-feather .path16:before {
  content: "\e933";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
  opacity: 0.35;
}
.icon-feather .path17:before {
  content: "\e934";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path18:before {
  content: "\e935";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
}
.icon-feather .path19:before {
  content: "\e936";
  margin-left: -0.56640625em;
  color: rgb(135, 135, 135);
  opacity: 0.35;
}
.icon-feather .path20:before {
  content: "\e937";
  margin-left: -0.56640625em;
  color: rgb(96, 96, 96);
}
.icon-feather .path21:before {
  content: "\e938";
  margin-left: -0.56640625em;
  color: rgb(235, 235, 235);
}
.icon-mysql .path1:before {
  content: "\e939";
  color: rgb(255, 255, 255);
}
.icon-mysql .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mysql .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-nginx-icon .path1:before {
  content: "\e922";
  color: rgb(128, 128, 128);
}
.icon-nginx-icon .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vagrantup-icon:before {
  content: "\e921";
}
.icon-phalconphp-icon:before {
  content: "\e920";
}
.icon-phalcon-seeklogocom .path1:before {
  content: "\e905";
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path2:before {
  content: "\e906";
  margin-left: -0.876953125em;
  color: rgb(206, 209, 212);
}
.icon-phalcon-seeklogocom .path3:before {
  content: "\e907";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path4:before {
  content: "\e908";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path5:before {
  content: "\e909";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path6:before {
  content: "\e90a";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path7:before {
  content: "\e90b";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path8:before {
  content: "\e90c";
  margin-left: -0.876953125em;
  color: rgb(206, 209, 212);
}
.icon-phalcon-seeklogocom .path9:before {
  content: "\e90d";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path10:before {
  content: "\e90e";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path11:before {
  content: "\e90f";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path12:before {
  content: "\e910";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path13:before {
  content: "\e911";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path14:before {
  content: "\e912";
  margin-left: -0.876953125em;
  color: rgb(206, 209, 212);
}
.icon-phalcon-seeklogocom .path15:before {
  content: "\e913";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path16:before {
  content: "\e914";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path17:before {
  content: "\e915";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path18:before {
  content: "\e916";
  margin-left: -0.876953125em;
  color: rgb(176, 181, 186);
}
.icon-phalcon-seeklogocom .path19:before {
  content: "\e917";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path20:before {
  content: "\e918";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path21:before {
  content: "\e919";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path22:before {
  content: "\e91a";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path23:before {
  content: "\e91b";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path24:before {
  content: "\e91c";
  margin-left: -0.876953125em;
  color: rgb(206, 209, 212);
}
.icon-phalcon-seeklogocom .path25:before {
  content: "\e91d";
  margin-left: -0.876953125em;
  color: rgb(134, 142, 150);
}
.icon-phalcon-seeklogocom .path26:before {
  content: "\e91e";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-phalcon-seeklogocom .path27:before {
  content: "\e91f";
  margin-left: -0.876953125em;
  color: rgb(0, 0, 0);
}
.icon-webpack .path1:before {
  content: "\e902";
  color: rgb(176, 181, 186);
}
.icon-webpack .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(134, 142, 150);
}
.icon-webpack .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(222, 222, 222);
}
.icon-iconfinder_jquery_282807:before {
  content: "\e901";
}
.icon-iconfinder_social_media_social_media_logo_codeigniter_1916035:before {
  content: "\e900";
}
